USE [master]
GO
/****** Object:  Database [TIJN]    Script Date: 12/8/2018 5:19:21 PM ******/
CREATE DATABASE [TIJN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIJN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TIJN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TIJN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TIJN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIJN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIJN]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 12/8/2018 5:19:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[bankaccountID] [int] IDENTITY(1,1) NOT NULL,
	[accountNumber] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[isPrimary] [bit] NOT NULL,
	[isVerified] [bit] NOT NULL,
	[balance] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_BankAccount] PRIMARY KEY CLUSTERED 
(
	[bankaccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/8/2018 5:19:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[paymentID] [int] IDENTITY(1,1) NOT NULL,
	[payorUserID] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[memo] [varchar](50) NULL,
	[payeeUserID] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[paymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 12/8/2018 5:19:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[planID] [int] IDENTITY(1,1) NOT NULL,
	[weeklyTransferLimit] [decimal](10, 2) NOT NULL,
	[singleTransferLimit] [decimal](10, 2) NOT NULL,
	[weeklyPaymentLimit] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[planID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/8/2018 5:19:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[planID] [int] NOT NULL,
	[firstName] [varchar](45) NOT NULL,
	[lastName] [varchar](45) NOT NULL,
	[SSN] [int] NULL,
	[balance] [decimal](10, 2) NULL,
	[email] [varchar](50) NULL,
	[phoneNumber] [int] NULL,
	[password] [varchar](50) NULL,
	[loginStatus] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Unique1]    Script Date: 12/8/2018 5:19:22 PM ******/
CREATE NONCLUSTERED INDEX [Unique1] ON [dbo].[User]
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique2]    Script Date: 12/8/2018 5:19:22 PM ******/
CREATE NONCLUSTERED INDEX [Unique2] ON [dbo].[User]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK_BankAccount_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK_BankAccount_User]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_User] FOREIGN KEY([payeeUserID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_User]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_User1] FOREIGN KEY([payorUserID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Plan] FOREIGN KEY([planID])
REFERENCES [dbo].[Plan] ([planID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Plan]
GO
USE [master]
GO
